#### 파이썬
- 화면 출력 : print()

In [10]:
print("안녕하세요",end="\n") # 문자열 취급 : "", ''
print('Hello Python', '반갑습니다.','수요일')
print(type(100)) # int
print(type('Hello')) # str
print(type(123.25)) # float
print(type(True)) # bool => True / False (대문자로 반드시 작성)

안녕하세요
Hello Python 반갑습니다. 수요일
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [12]:
print('T','E','S','T',sep="-")
print('2026','02','04',sep="/")

T-E-S-T
2026/02/04

In [16]:
a = 100
print("a 변수의 값은 :",a)
print(f"a 변수의 값은 : {a}")

a 변수의 값은 : 100
a 변수의 값은 : 100

In [23]:
a = 100
print("a 변수의 값은 :",a)
print(f"a 변수의 값은 : {a}")
print("a 변수의 값은 : %d" % a)
print("%d : %s" % (13, "안녕하세요")) # %d : 숫자, %s : 문자
print("%d%%" % 98)

a 변수의 값은 : 100
a 변수의 값은 : 100
a 변수의 값은 : 100
13 : 안녕하세요
98%

### 변수
- 타입 지정 안함 (값이 할당되면 타입이 결정됨)

In [25]:
str1 = "Life is too short, You need Python"
str2 = """Life is too short, You need Python
Life is too short, You need Python
"""
str3 = '''Life is too short, You need Python
Life is too short, You need Python
'''

In [27]:
print(str1)
print(str2)
print(str3)

Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python

Life is too short, You need Python
Life is too short, You need Python

In [ ]:
a= 100
b = 200

c, d = 300, 400
print(a, b, c, d)

a = b = c = d =500
print(a,b,c,d)

100 200 300 400
500 500 500 500

In [30]:
a, b = 10, 15
print(a, b)

# a => b, b => a (a = 15로, b = 10)
a, b = b, a
print(a, b)

10 15
15 10

In [33]:
str1 = "500"
num1 = 500
# result = str1 + num1 # can only concatenate str (not "int") to str => (str only can concatenate with str, not with int.)
result = int(str1) + num1
print(result)

1000

### 형변환

- int() : 정수로 변환
- bool() : True, False
- str() : 문자열로 변환
- float() : 유리수로 변환

In [39]:
a = 1.0
print(bool(a)) # 0이 아닐 때 True

a = 0.0
print(bool(a)) # 0일 때만 False

# print(int("99.5"))
print(int(99.5))
print(float("99.5"))

True
False
99
99.5

### 연산자

a+b : 덧셈
a-b : 뺄셈
a/b : 나눗셈
a//b : 몫
a**b : 제곱
a%b : 나머지

In [40]:
a, b = 5, 3
print(a+b, a-b, a*b, a/b, a//b, a**b, a%b)

8 2 15 1.6666666666666667 1 125 2

In [41]:
a += 5
print(a)

10

In [52]:
# 동전 교환하기
# 7,777 -> 동전 500원, 100원, 50원, 10원

num = 7777
a = num//500
b = (num-a*500)//100
c = (num-500*a-100*b)//50
d = (num-500*a-100*b-50*c)//10

print(a, b, c, d)

money = 7777
money500 = money//500
money = money % 500
money100 = money//100
money = money % 100
money50 = money//50
money = money % 50
money10 = money//10
money = money % 10

print("******동전 교환******")
print(f"500원 {money500}개, 100원 {money100}개, 50원 {money50}개, 10원 {money10}개, 나머지 돈 {money}")

15 2 1 2
******동전 교환******
500원 15개, 100원 2개, 50원 1개, 10원 2개, 나머지 돈 7

### 관계 연산자

==, !=, >=, <=
결과 : True, False

In [53]:
a, b = 10, 0
print(a==b, a!=b, a>=b, a<=b)

False True True False

### 논리 연산자
- java : && , || , !
- python : and , or , not (단, & , | 는 비트 연산자)

In [56]:
a, b, c = 10, 60, 15
print(a > b and b > c)
print(a > b or b > c)
print(not b > c)

False
True
False

#### 키보드에서 입력받기(input)
- 키보드에서 입력받는 값은 무조건 str(문자열)

In [ ]:
msg = input()
print (msg)

hello

In [59]:
msg = input("input num :")
print (msg)
print(type(msg))

7555486
<class 'str'>

In [62]:
num1 = int(input("input num :"))
print (num1 + 100)

600

### 제어문

- if True: <- :(Colon) 사용
-     print("")
- ----print("")
- ----들여쓰기-> 탭(tab)=4번 backspace 지키기

In [ ]:
if True: 
    print("Yes")

Yes

In [66]:
a = 200

# a가 100보다 크고 200 이하이다
if 100 < a and a <= 200:
    print("a가 100보다 크고 200 이하이다")

a가 100보다 크고 200 이하이다

In [65]:
if 100 < a <= 200:
    print("a가 100보다 크고 200 이하이다")

a가 100보다 크고 200 이하이다

In [73]:
a, b, c = 12, 6, 18

# 가장 큰 수 출력
max = a
if max < b:
    max = b
if max < c:
    max = c
print(f"가장 큰 수 {max}")
print("가장 큰 수 %d" % max)
print("가장 큰 수", max)

가장 큰 수 18
가장 큰 수 18
가장 큰 수 18

In [ ]:
a = 100
if a < 100:
    print("a는 100보다 크다")
else:
    print("a는 100보다 작다")

a는 100보다 작다

#### 삼항 연산자

- python : ( 조건 ? 참 : 거짓 ) 형태의 삼항 연산자가 없다.
- python 삼항연산자 형태 : 참_값 if 조건 else 거짓_값

In [ ]:
# print(a<100 ? "a는 100보다 작다" : "a는 100보다 작다" )

result = "a는 100보다 작다" if a < 100 else "a는 100보다 크다"
print(result)

짝수
a는 100보다 크다

In [ ]:
# 입력한 숫자가 홀수인지, 짝수인지 구하기

num = int(input("Write the number"))
if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

print("짝수") if num%2==0 else print("홀수")

짝수
짝수

#### 다중 조건
- java: if (condition...) else if (condition2...)
- python : if condition... : elif condition...: else

In [82]:
num = 90

if num >= 90:
    print("A")
elif num >= 80:
    print("B")
elif num >= 70:
    print("C")
elif num >= 60:
    print("D")
else: 
    print("F")

A

In [85]:
# 사칙 연산기 (숫자 2, 연산자 => +, -, *, /, //, %)

num1 = int(input("1번째 숫자 입력 : "))
num2 = int(input("2번째 숫자 입력 : "))
oper = input("사칙연산 +, -, /, *, //, % 중 입력")

if oper=="+":
    result = (num1 + num2)
elif oper=="-":
    result = (num1 - num2)
elif oper=="/":
    result = (num1 // num2)
elif oper=="//":
    result = (num1 // num2)
elif oper=="*":
    result = (num1 * num2)
elif oper=="%":
    result = (num1 % num2)

print(f"{num1} {oper} {num2} = {result}")

match oper:
    case "+":
        print(num1 + num2)
    case "-":
        print(num1 - num2)
    case "/":
        print(num1 / num2)
    case "*":
        print(num1 * num2)
    case "//":
        print(num1 // num2)
    case "%":
        print(num1 % num2)

9 * 18 = 162
162