### 함수

```
def 함수명(인수1, 인수2...):
    수행할 문장
```

In [1]:
def hello():
    print("Hello")

In [2]:
hello()

Hello

In [3]:
def hello2():
    return "Hello"

In [4]:
msg = hello2()
print(msg)

Hello

In [5]:
def add(a, b):
    return a + b


result = add(5,9)
print(result)

14

In [ ]:
# 기본값
def add(a, b=5):  
    return a + b


result = add(10)
print(result)

15

In [9]:
# 가변 파라메터
# 파라메터의 개수가 일정치 않은 경우 사용

def info(*args):
    print(args)


info("wine")
info("wine","35","45","65")
info("35","45","65")
info()

('wine',)
('wine', '35', '45', '65')
('35', '45', '65')
()

In [10]:
def sum_mul(choice, *args):
    if choice == "+":
        result = 0
        for i in args:
            result += i
    elif choice == "*":
        result = 1
        for i in args:
            result *= i
    return result

print(sum_mul("+", 1,2,3,4,5))
print(sum_mul("*", 1,2,3,4,5))

15
120

In [ ]:
## **kwargs : 딕셔너리 형태로 처리

def args_func1(**kwargs):
    for k,v in kwargs.items():
        print(f"{k} : {v}")

args_func1(name="Park")
args_func1(name="Park", name2="Kim", name3="Hong", active=True)
args_func1(name="Park", age=25, title="Title")

name : Park
name : Park
name2 : Kim
name3 : Hong
active : True
name : Park
age : 25
title : Title

In [ ]:
def args_func2(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)

args_func2(10,20)
args_func2(10,20,"park","kim")
args_func2(10,20,"park","kim", age=14, name="choi")

10 20 () {}
10 20 ('park', 'kim') {}
10 20 ('park', 'kim') {'age': 14, 'name': 'choi'}

In [16]:
# 다중 리턴 가능 : tuple 에 담아서 보내줌

def sum_and_mul(a, b):
    return a + b, a * b


result = sum_and_mul(5,3)
print(result)
print(result[0])


sum1, mul1 = sum_and_mul(9,3)
print(f"{sum1}, {mul1}")

(8, 15)
8
12, 27

In [17]:
def sum_and_mul(a, b):
    return [a + b, a * b]


result = sum_and_mul(5,3)
print(result)
print(result[0])


sum1, mul1 = sum_and_mul(9,3)
print(f"{sum1}, {mul1}")

[8, 15]
8
12, 27

In [19]:
def say_nick(nick):
    if nick == "바보":
        return
    print(f"내 별명은 {nick}입니다.")


print(say_nick("바보"))
say_nick("해바라기")

None
내 별명은 해바라기입니다.

In [20]:
# 함수 정의 : 사칙연산 (+,-,*,//)
def fourRules(num1, num2, op):
    if op == "+":
        return num1 + num2
    elif op == "-":
        return num1 - num2
    elif op == "*":
        return num1 * num2
    elif op == "//":
        return num1 // num2
    

print(fourRules(5,6,"+"))
print(fourRules(5,6,"-"))
print(fourRules(5,6,"*"))
print(fourRules(13,6,"//"))

11
-1
30
2

In [21]:
def fourRules(num1, num2, op):
    if op == "+":
        return num1 + num2
    elif op == "-":
        return num1 - num2
    elif op == "*":
        return num1 * num2
    elif op == "//":
        return num1 // num2


# 사용자한테 두 수와 연산자 입력받기
num1 = int(input("Input Num1 : "))
num2 = int(input("Input Num2 : "))
op = input("Input operand : ")


print(f"{num1}{op}{num2}={fourRules(num1,num2,op)}")

8+5=13

In [25]:
import random

print(random.random())  # Math.random() : 0 <= 숫자 < 1
print(random.randint(1,10)) 
print(random.randrange(1,46))

0.40219656583090313
3
37

In [27]:
# 
def get_number():
    return random.randrange(1,46) # 1~45 임의의 수


# 로또번호 추출
# 리스트, set 
lotto = set()
while True:
    lotto.add(get_number())
    if len(lotto) >= 6:
        break

# 정렬
list1 = list(lotto)
list1.sort()

print("lotto ",list1)

lotto  [8, 18, 26, 30, 33, 40]

In [ ]:
# 전역변수
a = 1

def func1(a):
    print("지역변수 ",a)
    a += 1
    print("덧셈 후 지역변수 ",a)

func1(5)
print(a)

지역변수  5
덧셈 후 지역변수  6
1

In [ ]:
a = 1

def func1():  
    global a  # 함수 내부에서 전역변수로 선언된 변수 접근 
    a += 1
    print("덧셈 후 변수 ",a)

func1()

덧셈 후 변수  2

### 람다 함수
- 단일문으로 표현되는 익명 함수
- 1회성으로 함수를 만들어 사용

In [31]:
# 숫자를 받아서 **2 리턴

def square(num):
    return num ** 2

print(square(5))

25

In [32]:
square = lambda num:num ** 2
square(6)

36

In [33]:
add = lambda x,y:x+y
add(6,9)

15

In [ ]:
def strlen(s):
    return len(s)

# c

['bob', 'teddy', 'charles', 'alexander3']

In [35]:
# def strlen(s):
#     return len(s)

contents = ['bob','charles','alexander3','teddy']

contents.sort(key=lambda s:len(s))
print(contents)

['bob', 'teddy', 'charles', 'alexander3']

In [36]:
contents = ['bob','charles','alexander3','teddy']

contents.sort(key=len)
contents

['bob', 'teddy', 'charles', 'alexander3']

In [37]:
# filter, map, reduce

list1 = [1,2,3,6,8,9]

# 짝수 요소만 추출한 후 새로운 리스트 생성하기
evens = []

for i in list1:
    if i % 2 == 0:
        evens.append(i)

evens

[2, 6, 8]

In [38]:
evens = [ i for i in list1 if i % 2 == 0]
evens

[2, 6, 8]

In [39]:
evens = []

def even(list1):
    for i in list1:
        if i % 2 == 0:
            evens.append(i)

even([1,2,3,6,8,9])
print(evens)
even([11,22,3,6,8,9,12,14])

[2, 6, 8]

In [ ]:
# filter 사용

list1 = [1,2,3,6,8,9]

list(filter(lambda x:x%2==0, list1))

[2, 6, 8]

In [1]:
# map

nums = [1, 2, 3,6,8,10,11,12,13,14,15]

list(map(lambda x:x**2, nums))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 196, 225]